.main {
    width: 100%;
}

/* Main container */

.floe-chartAuthoring-container {
    width: 55em;
    margin: 2em auto 2em auto;
    border: 1px solid black;
    padding: 1em 0 1em 0;
    background-color: #FFFFFF;
}

/* Title and description inline edit containers */

.floec-chartTitle {
    margin-bottom: 1em;
    padding-left: 2em;
}

.floec-chartDescription {
    font-size: 1em;
    margin-bottom: 2em;
    padding-left: 2em;
}

/* Inline edit component appearance customizations */

.floec-chartTitle .fl-inlineEdit-text {
    font-size: 2em;
}

.fl-inlineEdit-tooltip {
    /* */
}

.fl-inlineEdit-editModeInstruction {
    /* */
}

/* Pie */

.floec-ca-pieChart-pie {
    float: left;
    width: 30em;
    margin-bottom: 1em;
}

    /* Pie slice text (SVG styling attributes) */

.floec-ca-pieChart-text {
    paint-order: stroke;
    stroke: #FFF;
    fill: #000;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
    font-family: Verdana, Arial, sans-serif;
}

/* Legend */

.floec-ca-pieChart-legend {
    float: left;
    width: 20em;
    margin: 2em;
    min-height: 5em;
}

.floe-ca-pieChart-legend-table thead th {
    color: #FFFFFF;
}

.floe-ca-pieChart-legend-table-row td {
    border: 3px solid white;
    padding: 0.5em;
}

/* Data entry panel */

.floec-dataEntryPanel {
    border-top: 1px dashed black;
    padding-top: 1em;
    clear: both;
    width:55em;
}

.floec-dataEntryPanel li {
    list-style:none;
    margin-bottom: 0.5em;
}

.floec-dataEntryPanel fieldset {
    border: 0;
}

.floec-dataEntryPanel input {
    background-color: #F2F2F2;
}

.floec-ca-dataEntry-label {
    margin-right:1em;
    width:12em;
}

.floec-ca-dataEntry-value {
    margin-right:1em;
    width:6em;
}

.floec-ca-dataEntry-percentage {
    background-color: #C9C9C9;
}
